mixin header(content, params)
  header.header&attributes(attributes)
    .header__top
      .header__name 
        .header__name-text !{content.title.content}
        img(src=content.title.img)
        a.header__back(href="#")
          .header__back-text !{content.back.content}
          img(src=content.back.img)