mixin map(content, params)
  .map&attributes(attributes)
    +header(content.header)
    .map__font1 font
    .map__font2 font
    .map__font3 font
    .map__font4 font
    +template-engine().map__content
      .name.name_left
        .name-inner
          .name__img
            img(src!=content.mapModal.img)
            .name__info !{content.mapModal.info}
          .name__descr
            .name__content !{content.mapModal.content}

