


.names {
  // Константы
  @mixin mod($mod) {
    @include modifier("names", $mod){
      @content;
    }
  }
  $color: #ff0000;

  

  position: absolute;
  height: 100vh;
  width: 100vw;

  background:  image('bg.png'), #000000;

  .title {
    font-family: 'Cera Bold';
    font-size: 32px;
    padding: 9px;
    border-radius: 40px;

    &-text {
      position: relative;
      padding: 11px 30px;
    }

    &-inner {
      position: relative;
    }

    &_up {
      position: absolute;
      height: 50%;
      width: 100%;

      top: 0;
    }

    &_down {
      position: absolute;
      height: 50%;
      width: 100%;

      bottom: 0;
    }

    @mixin thin {
      // &_thin {
      border: 1px solid rgba($color: $color, $alpha: 0.8);
      // }
    }

    @mixin thick {
      // &_thick {
      border: 5px solid $color;
      // }
    }

    @mixin full-bg {
      background-color: rgba($color: $color, $alpha: 0.15);
    }

    @mixin left-dot {
      &::before {
        content: '';
        position: absolute;

        left: -5px;
        top: 50%;

        transform: translate(-30%, -50%);

        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 2px solid $color;
        background-color: #15171c;
      }
    }

    @mixin right-dot {
      &::after {
        content: '';
        position: absolute;

        right: -8px;
        top: 50%;

        transform: translateY(-50%);

        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 2px solid $color;
        background-color: #15171c;
      }
    }

    @mixin inner_left-dot {
      .title-inner::before {
        content: '';
        position: absolute;

        left: 0;
        top: 50%;

        transform: translate(-30%, -50%);

        width: 3px;
        height: 3px;
        border-radius: 50%;
        border: 2px solid $color;
        background-color: transparent;
      }   
    }

    @mixin inner_right-dot {
      .title-inner::after {
        content: '';
        position: absolute;

        left: 100%;
        top: 50%;

        transform: translateY(-50%);

        width: 3px;
        height: 3px;
        border-radius: 50%;
        border: 2px solid $color;
        background-color: transparent;
      }
    }

    @mixin inner_down {
      .title_down {
        border: 2px dashed $color;
        border-top: none;
        border-radius: 0 0 30px 30px;
      }

      .title_up {
        border: 2px solid $color;
        border-bottom: none;
        border-radius: 30px 30px 0 0;
      }
    }

    @mixin inner_up {
      .title_down {
        border: 2px solid $color;
        border-top: none;
        border-radius: 0 0 30px 30px;
      }

      .title_up {
        border: 2px dashed $color;
        border-bottom: none;
        border-radius: 30px 30px 0 0;
      }
    }

    @mixin inner_up-down {
      .title_down {
        border: 2px solid $color;
        border-top: none;
        border-radius: 0 0 30px 30px;
      }

      .title_up {
        border: 2px solid $color;
        border-bottom: none;
        border-radius: 30px 30px 0 0;
      }
    }

    @mixin plus-numbers {
      background: image('plus.png') 8% 56%,
                  image('plus.png') 93% 56%;
      background-repeat: no-repeat, no-repeat;
      .title-text {
        padding: 11px 80px;
      }
      &::before {
        content: '0,01';
        font-family: 'Glober Bold';
        font-size: 10px;
        color: $color;
        left: 14%;
        top: 50%;
        position: absolute;
      }
      &::after {
        content: '0,01';
        font-family: 'Glober Bold';
        font-size: 10px;
        color: $color;
        right: 14%;
        top: 50%;
        position: absolute;
      }
    }

    // заголовок у контента
    &_content {
      padding: 0 9px;
      font-size: 42px;

      @include thick;
      // border: 5px solid $color;

      background: image('plus.png') 96% 56%;
      background-repeat: no-repeat;
    }


    // самый первый заголовок в центре
    &_main-active {
      @include thick;
      padding: 0 9px;

      font-size: 42px;

      text-transform: uppercase;

      @include plus-numbers;
    }

    // самый первый заголовок не в центре
    &_main-passive {
      @include thin;
      @include full-bg;
      @include plus-numbers;
      @include inner_up-down;

      padding: 10px 9px;

      font-size: 32px;

      text-transform: uppercase;
    }


    // заголовок родителя
    &_parent {
      @include thin;
      @include full-bg;
      @include plus-numbers;
      @include inner_left-dot;
      @include inner_right-dot;
      @include inner_up-down;
    }

    // при перемещении камеры (верхняя часть)
    &_fly-up {
      @include inner_down;
    }

    // при перемещении камеры (нижняя часть)
    &_fly-down {
      @include inner_up;
    }

    // активная нижняя закрашенная
    &_fill-down {
      @include thin;
      @include full-bg;
      @include inner_up;
    }

    // активная верхняя закрашенная
    &_fill-up {
      @include thin;
      @include full-bg;
      @include inner_down;
    }

    // активная нижняя не закрашенная
    &_notfill-down {
      @include thin;
      @include inner_up;
    }

    // активная верхняя не закрашенная
    &_notfill-up {
      @include thin;
      @include inner_down;
    }
  }
}
