.editor {
  // Константы
  @mixin mod($mod) {
    @include modifier("editor", $mod) {
      @content;
    }
  }

  background-color: black;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  .squareNode {
    // Константы
    @mixin mod($mod) {
      @include modifier("squareNode", $mod) {
        @content;
      }
    }

    display: inline-block;
    z-index: 1;
    padding: 0;

    cursor: pointer;

    left: 50%;
    top: 50%;
    width: 345px;
    text-align: center;

    transform: translate(-50%, -50%);

    background-color: darksalmon;
    position: absolute;

    &__text {
      color: #fff;
      font-size: 30px;
    }

    &_active {
      z-index: 2;
    }
  }
}
